<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    />
    <title>채용공고 메인</title>
  </head>
  <body>
    <%- include('../gnb.html') %>
    <h1>채용공고 등록</h1>
    <form action="/application" method="post">
      <table>
        <tr>
          <td>
            <input
              type="text"
              name="company_id"
              placeholder="회사 id 입력(숫자)"
              maxlength="10"
            />
          </td>
        </tr>
        <tr>
          <td>
            <input
              type="text"
              name="position"
              placeholder="채용 포지션 입력"
              maxlength="20"
            />
          </td>
        </tr>
        <tr>
          <td>
            <input
              type="text"
              name="reward"
              placeholder="채용 보상금 입력"
              maxlength="20"
            />
          </td>
        </tr>
        <tr>
          <td>
            <textarea name="content">채용 내용 입력</textarea>
          </td>
        </tr>
        <tr>
          <td>
            <input
              type="text"
              name="skill"
              placeholder="사용 기술 입력"
              maxlength="20"
            />
          </td>
        </tr>
      </table>
      <button class="btn-success" type="submit">등록하기</button>
    </form>
    <hr />
    <h1>채용공고 목록</h1>
    <div>
      <form action="/search" method="get">
        <input type="text" name="query" />
        <button type="submit">검색하기</button>
      </form>
    </div>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col" class="text-center">채용공고번호</th>
          <th scope="col" class="text-center">회사번호</th>
          <th scope="col" class="text-center">회사명</th>
          <th scope="col" class="text-center">국가</th>
          <th scope="col" class="text-center">지역</th>
          <th scope="col" class="text-center">채용포지션</th>
          <th scope="col" class="text-center">채용보상금</th>
          <th scope="col" class="text-center">사용기술</th>
        </tr>
      </thead>
      <tbody>
        <% for(let app of applications) { %>
        <tr>
          <th scope="row" class="text-center"><%= app.id %></th>
          <td class="text-center"><%= app.company_id %></td>
          <td class="text-center"><%= app.company.dataValues.name %></td>
          <td class="text-center"><%= app.company.dataValues.country %></td>
          <td class="text-center"><%= app.company.dataValues.region %></td>
          <td class="text-center"><%= app.position %></td>
          <td class="text-center"><%= app.reward %></td>
          <td class="text-center"><%= app.skill %></td>
          <td>
            <button>
              <a href="/application/<%= app.id %>">상세 페이지 보기</a>
            </button>
          </td>
          <td>
            <form
              action="/application/<%= app.id %>?_method=DELETE"
              method="post"
            >
              <button class="btn-danger" type="submit">삭제하기</button>
            </form>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <hr />
    <h1>채용공고 지원하기(사용자)</h1>
    <form action="/history" method="post">
      <table>
        <tr>
          <td>
            <input
              type="text"
              name="application_id"
              placeholder="지원할 공고 id 입력(숫자)"
            />
          </td>
        </tr>
        <tr>
          <td>
            <input
              type="text"
              name="user_id"
              placeholder="사용자 id 입력(숫자)"
            />
          </td>
        </tr>
      </table>
      <button class="btn-success" type="submit">등록하기</button>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
